@import "../../scss/mixins";
@import "../../scss/variables";

.my-input {
    background-color: transparent;
    border-radius: 8px;
    border: $dark-theme-btn-border;
    color: $dark-theme-text;
    font-size: 20px;
    width: fit-content;
    .btn{
        background-color: transparent;
    }
    .text{
        background-color: transparent;
    }
}

.cardlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}