@import "../../scss/mixins";
@import "../../scss/variables";

.myInput {
    @include flexRowBetweenMixin;

    width: 100%;
    background-color: $dark-theme-input;
    border-radius: 8px;
    border: $dark-theme-btn-border;
    color: $dark-theme-text;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    &-text {
        width: 70%;
        background-color: $transparent;
        outline: none;
        border: none;
        color: $dark-theme-text;
        padding: 10px 20px;
    }
    &-btn {
        width: 30%;
        font-weight: 600;
        @include btnMixin($dark-theme-text, 20px, $dark-theme-btn-border, $transparent);
        img{
            height: 30px;
        }
        cursor: wait;
    }
}
.cardlist {
    @include flexRowCenterMixin;
}
.notFound {
    font-size: 20px;
    color: $dark-theme-text;
    padding: 10px 0px;
}
hr {
    border-color: rgba($color: #3c8bfa, $alpha: 0.7);
    border-width: 2px;
}
