@import "../../scss/mixins";
@import "../../scss/variables";

.card {
    @include flexRowAroundMixin;
    background-color: $dark-theme-card;
    margin: 5px;
    min-height: fit-content;
    min-width: 80%;
    &__img {
        width: 20%;
        max-width: 20%;
        min-width: 220px;
        align-self: center;
        img {
            width: 100%;
        }
    }
    &__body {
        @include flexColCenterMixin;
        padding: 10px 0px;
        width: 60%;
        min-width: 400px;
    }
    &__body__text {
        text-align: start;
    }
}
.green {
    color: $text-green;
}
.yellow {
    color: $text-yellow;
}
.red {
    color: $text-red;
}
