@import "./scss/mixins";
@import "./scss/variables";

// class

.btn {
    @include btnMixin($dark-theme-text, 20px, $dark-theme-btn-border, $transparent);
}

section {
    display: flex;
    text-align: center;
    padding: 15px;
}

.app {
    text-align: center;
    margin: 1rem auto;
}

h1{
    text-align: center;
    padding: 20px 0px;
}