@import "./scss/mixins";
@import "./scss/variables";

// class

.my-btn {
    background-color: transparent;
    border-radius: 8px;
    border: $dark-theme-btn-border;
    color: $dark-theme-text;
    font-size: 20px;
}

section {
    display: flex;
    text-align: center;
    padding: 15px;
}

.app {
    text-align: center;
    margin: 1rem auto;
}
