// color
$transparent: transparent;
$dark-theme: rgba(13, 21, 39, 0.9);
$dark-theme-text: rgb(236, 240, 255);
$dark-theme-btn-border: 2px solid rgb(220, 232, 255);
$dark-theme-card: rgba(8, 56, 105, 0.911);
$dark-theme-input: rgba(22, 35, 84, 0.605);
$text-red: rgb(255, 75, 75);
$text-yellow: rgb(209, 204, 63);
$text-green: rgb(102, 211, 72);

// $light-theme: rgba(245, 248, 194, 0.952);
// $light-theme-text: rgb(0, 0, 0);
// $light-theme-btn-border: 2px solid rgb(32, 32, 52);
// $light-theme-card: rgba(203, 241, 142, 0.932);
